*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
