@charset "UTF-8";
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.line-break--tablet, .line-break--desktop {
  display: none;
}
@media (min-width: 768px) {
  .line-break--mobile {
    display: none;
  }
  .line-break--tablet {
    display: inline;
  }
}
@media (min-width: 1200px) {
  .line-break--desktop {
    display: inline;
  }
}

.button {
  display: inline-block;
  margin: 0;
  padding: 16px 45px;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.44;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  background-color: #81b3d2;
  cursor: pointer;
}

.social {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 48px);
  grid-auto-rows: 48px;
  gap: 6px;
}

.social__item {
  display: grid;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background-color: #81b3d2;
}

.field {
  margin: 0;
  padding: 12px;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.44;
  font-weight: 700;
  border: 4px solid transparent;
  background-color: #f2f2f2;
}

.field::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.text-field {
  display: flex;
  flex-direction: column;
}

.text-field__label {
  padding-left: 16px;
  color: #333333;
}

.text-field__input-container {
  display: grid;
  grid-template-columns: 1fr 58px;
}
.text-field__input-container::after {
  content: "";
  grid-column: 2;
  grid-row: 1;
  background-color: #d6d6d6;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 18px;
  pointer-events: none;
}
.text-field__input-container--telephone::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.6 7.8c1.4 2.8 3.8 5.1 6.6 6.6l2.2-2.2c.3-.3.7-.4 1-.2 1.1.4 2.3.6 3.6.6.6 0 1 .4 1 1V17c0 .6-.4 1-1 1C7.6 18 0 10.4 0 1c0-.6.4-1 1-1h3.5c.6 0 1 .4 1 1 0 1.2.2 2.4.6 3.6.1.3 0 .7-.2 1L3.6 7.8Z' fill='%23010101'/%3E%3C/svg%3E%0A");
}
.text-field__input-container--email::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 11c-.3 0-.5-.1-1-.3L1 7v7c0 .5.5 1 1 1h14c.5 0 1-.5 1-1V7l-7 3.7c-.5.2-.7.3-1 .3Zm7-8H2c-.5 0-1 .5-1 1v.8L9 9l8-4.2V4c0-.5-.5-1-1-1Z' fill='%23000'/%3E%3C/svg%3E");
}

.text-field__input-container .text-field__input {
  grid-column: 1/-1;
  grid-row: 1;
  padding-right: 65px;
}

.change-field__label {
  display: grid;
  grid-template-columns: 46px 1fr;
  column-gap: 16px;
  align-items: center;
  font-size: 18px;
  line-height: 1.44;
  font-weight: 700;
  text-transform: none;
}
.change-field__label::before {
  content: "";
  width: 46px;
  height: 46px;
  background-color: #f2f2f2;
}
.change-field__label--radio::before {
  border-radius: 50%;
  border: 15px solid #f2f2f2;
}
.change-field__input:checked + .change-field__label--radio::before {
  background-color: #333333;
}
.change-field__label--checkbox::before {
  border-radius: 4px;
}
.change-field__input:checked + .change-field__label--checkbox::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.8 1.3 20.77.23a.84.84 0 0 0-1.14 0L8.3 11.96 2.4 5.84a.84.84 0 0 0-1.14 0L.21 6.93c-.28.3-.28.89 0 1.18l7.42 7.7c.2.19.38.19.57.19.2 0 .38-.1.57-.2L21.61 2.5c.48-.3.48-.79.2-1.18Z' fill='%23333'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 16px;
}

.super-text {
  all: unset;
}

.likes {
  display: flex;
  align-items: flex-end;
  color: inherit;
}
@media (min-width: 768px) {
  .likes {
    margin-bottom: 8px;
  }
}

.likes__icon {
  margin-right: 14px;
  opacity: 0.3;
}
@media (min-width: 768px) {
  .likes__icon {
    margin-right: 9px;
  }
}

.likes__count {
  font-weight: 700;
  line-height: 1;
}

.page {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}

.page__body {
  background-color: #f2f2f2;
}

.page__container {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  overflow: hidden;
}

.page__main {
  flex-grow: 1;
}

.header {
  position: relative;
  z-index: 1;
  min-height: 56px;
}

.header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
}
@media (min-width: 768px) {
  .header__logo {
    z-index: 1;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 6.25vw;
  padding-right: 6.25vw;
  padding-top: 28px;
  padding-bottom: 23px;
}
@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 36px 60px;
  }
  .footer--index {
    padding-right: 76px;
  }
}
@media (min-width: 1200px) {
  .footer {
    padding-left: 120px;
    padding-right: 120px;
  }
  .footer--index {
    padding-right: 136px;
  }
}

.footer__hashtag {
  margin: 0;
  margin-bottom: 34px;
  font-size: 21px;
  line-height: 1.24;
  font-weight: 700;
}
@media (min-width: 768px) {
  .footer__hashtag {
    margin-bottom: 0;
  }
}

.footer__social {
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .footer__social {
    margin-bottom: 0;
    margin-right: 8px;
  }
  .footer--index .footer__social {
    margin-left: 12px;
  }
}
@media (min-width: 1200px) {
  .footer--index .footer__social {
    margin-left: 20px;
  }
}

.footer__maid-in {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  gap: 12px;
  margin: 0;
  color: inherit;
}

.main-index {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .main-index {
    margin-bottom: 0;
  }
}

.main-index__intro {
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .main-index__intro {
    margin-bottom: 48px;
  }
}
@media (min-width: 1200px) {
  .main-index__intro {
    margin-bottom: 59px;
  }
}

.site-navigation {
  position: relative;
}

.site-navigation__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 56px;
  height: 56px;
  margin: 0;
  border: none;
  background-color: transparent;
}
.site-navigation__toggle::before, .site-navigation__toggle::after {
  content: "";
  position: absolute;
  top: 26px;
  right: 18px;
  width: 27px;
  height: 4px;
  background-color: #ffffff;
}
.site-navigation__toggle::before {
  transform: rotate(45deg);
  background-image: none;
}
.site-navigation__toggle::after {
  transform: rotate(-45deg);
}
.site-navigation--mobile-hidden .site-navigation__toggle::before {
  content: "";
  position: absolute;
  top: 17px;
  right: 20px;
  width: 23px;
  height: 22px;
  background-image: linear-gradient(to bottom, #81b3d2 0, #81b3d2 4px, transparent 4px);
  background-size: 100% 9px;
  transform: none;
}
.site-navigation--mobile-hidden .site-navigation__toggle::after {
  display: none;
}
.site-navigation__toggle:disabled {
  display: none;
}
@media (min-width: 768px) {
  .site-navigation__toggle {
    display: none;
  }
}

.site-navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: absolute;
  left: 0;
  right: 0;
  background-color: #81b3d2;
}
.site-navigation--mobile-hidden .site-navigation__list {
  display: none;
}
@media (min-width: 768px) {
  .site-navigation__list {
    position: static;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #ffffff;
  }
  .site-navigation--mobile-hidden .site-navigation__list {
    display: grid;
  }
  .site-navigation__list::before {
    content: "";
    grid-row: 1/span 2;
    grid-column: 3/4;
  }
}

.site-navigation--no-js {
  padding-top: 85px;
}
.site-navigation--no-js .site-navigation__list {
  position: static;
}
.site-navigation--no-js .site-navigation__toggle {
  display: none;
}
@media (min-width: 768px) {
  .site-navigation--no-js {
    padding-top: 0;
  }
}

.site-navigation__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17px 50px 13px;
  font-size: 18px;
  line-height: 1.44;
  font-weight: 700;
  color: #ffffff;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(1, 1, 1, 0.2);
  word-wrap: break-word;
}
.site-navigation__item:first-child .site-navigation__link {
  box-shadow: inset 0 -1px 0 rgba(1, 1, 1, 0.2);
}
.site-navigation__item:last-child .site-navigation__link {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
  background: linear-gradient(to top, rgba(0, 0, 0, 0.2) 0, transparent 7px);
}
@media (min-width: 768px) {
  .site-navigation__link {
    padding: 18px;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 700;
    color: #000000;
    box-shadow: none;
  }
  .site-navigation__link--current {
    color: #766357;
  }
  .site-navigation__item:first-child .site-navigation__link {
    box-shadow: none;
  }
  .site-navigation__item:last-child .site-navigation__link {
    box-shadow: none;
    background: none;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 6.25vw;
  padding-right: 6.25vw;
  position: relative;
  padding-top: max(78px, -2.9017857143vw + 99.2857142857px);
  padding-bottom: min(90px, 1.1160714286vw + 81.4285714286px);
  background-color: rgba(129, 179, 210, 0.5);
  background-image: url("../img/desktop/intro-back.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
.intro--secondary {
  padding-top: min(101px, 9.5982142857vw + 21.2857142857px);
  padding-bottom: min(120px, 11.1607142857vw + 31.2857142857px);
}
.intro::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 1210px;
  height: 63px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M254.6 24.7 0 .5V63h1210V.5L955.4 24.7V1L605 58 254.6 1Z' fill='%23fff'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .intro {
    background-image: url("../img/desktop/intro-back@2x.jpg");
  }
}
@media (max-width: 768px) {
  .intro {
    background-image: url("../img/tablet/intro-back.jpg");
  }
}
@media (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 768px) and (min-resolution: 2dppx) {
  .intro {
    background-image: url("../img/tablet/intro-back@2x.jpg");
  }
}
@media (max-width: 320px) {
  .intro {
    background-image: url("../img/mobile/intro-back.jpg");
  }
}
@media (max-width: 320px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 320px) and (min-resolution: 2dppx) {
  .intro {
    background-image: url("../img/mobile/intro-back@2x.jpg");
  }
}

.intro__image {
  width: 60vw;
  min-width: 282px;
  max-width: 461px;
}

.intro--secondary .intro__image {
  min-width: 229px;
  max-width: 456px;
}

.advantage-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 6.25vw;
  padding-right: 6.25vw;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 26px;
  background-color: #eeeeee;
}
.advantage-element--special {
  padding-top: 37px;
  padding-bottom: 37px;
  background-color: #81b3d2;
  color: #ffffff;
}
@media (min-width: 768px) {
  .advantage-element {
    min-height: 256px;
    width: 33.3333333333%;
    padding: 28px 33px;
  }
}
@media (min-width: 1200px) {
  .advantage-element {
    padding: 45px 50px 40px;
  }
}

.advantage-element__title {
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 49px;
  font-size: 18px;
  line-height: 1.44;
  text-align: center;
}
@media (min-width: 768px) {
  .advantage-element__title {
    max-width: 150px;
    margin-bottom: 56px;
    font-size: 21px;
    line-height: 1.24;
  }
}

.advantage-element__text {
  max-width: 400px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #333333;
}
.advantage-element--special .advantage-element__text {
  color: #ffffff;
}

.advantages {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  counter-reset: advantage;
}
@media (min-width: 768px) {
  .advantages {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.advantages__item {
  position: relative;
  order: 3;
}
.advantages__item--order-first {
  order: 1;
}
.advantages__item--order-second {
  order: 2;
}
.advantages__item--last {
  padding-bottom: 28px;
}
.advantages__item::after {
  content: "";
  position: absolute;
  left: 6.25vw;
  right: 6.25vw;
  bottom: 0;
  height: 1px;
  background-color: #d6d6d6;
}
.advantages__item--illustrated::after, .advantages__item--services::after, .advantages__item--last::after {
  display: none;
}
@media (min-width: 768px) {
  .advantages__item--illustrated {
    display: flex;
    width: 100%;
  }
  .advantages__item--reversed {
    flex-direction: row-reverse;
  }
  .advantages__item--services {
    width: 100%;
  }
  .advantages__item::after {
    display: none;
  }
}
@media (min-width: 1200px) {
  .advantages__item:nth-child(3) {
    padding-top: 65px;
  }
  .advantages__item--last {
    padding-bottom: 20px;
  }
}

.advantages__element-container {
  flex-shrink: 0;
}
.advantages__item--order-first .advantages__element-container {
  padding-top: 34px;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .advantages__element-container, .advantages__item--order-first .advantages__element-container {
    padding-top: 52px;
    padding-bottom: 31px;
  }
}
@media (min-width: 1200px) {
  .advantages__element-container, .advantages__item--order-first .advantages__element-container {
    padding-bottom: 52px;
  }
}

.advantages__image-container {
  flex-grow: 1;
}

.advantages__image {
  width: 100%;
  height: 260px;
  object-fit: cover;
}
@media (min-width: 768px) {
  .advantages__image {
    width: 100%;
    min-height: 256px;
    height: 100%;
  }
}

.advantages__title {
  position: relative;
}
.advantages__title::after {
  counter-increment: advantage;
  content: "— №" counter(advantage) " —";
  position: absolute;
  top: calc(100% + 11px);
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: #333333;
}
.advantages__item--illustrated .advantages__title::after {
  color: #ffffff;
}

.advantages-section__entrance {
  padding-left: 6.25vw;
  padding-right: 6.25vw;
  position: relative;
  z-index: 1;
  box-sizing: content-box;
  max-width: 520px;
  margin: 0 auto;
  padding-bottom: 53px;
}
.advantages-section__entrance::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50%);
  width: 768px;
  height: 42px;
  background-color: #81b3d2;
  -webkit-clip-path: polygon(0 0, 50% 37px, 100% 0, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(0 0, 50% 37px, 100% 0, 100% 100%, 0 100%, 0 0);
}
@media (min-width: 768px) {
  .advantages-section__entrance {
    margin-bottom: 56px;
    padding: 0;
  }
  .advantages-section__entrance::after {
    display: none;
  }
}
@media (min-width: 1200px) {
  .advantages-section__entrance {
    margin-bottom: 45px;
  }
}

.advantages-section__title {
  margin: 0;
  margin-bottom: 34px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}
@media (min-width: 768px) {
  .advantages-section__title {
    font-size: 21px;
    line-height: 1.24;
    margin-bottom: 28px;
  }
}

.advantages-section__text {
  margin: 0;
  text-align: center;
  color: #333333;
}

.services {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-left: 5.625vw;
  padding-right: 5.625vw;
  max-width: 550px;
  margin: 0 auto;
  padding-top: 23px;
  padding-bottom: 46px;
}
@media (min-width: 768px) {
  .services {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 0;
  }
}

.services__item {
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 16px 7px;
  margin-bottom: 25px;
}
.services__item:last-child {
  margin: 0;
}
@media (min-width: 768px) {
  .services__item {
    display: flex;
    gap: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33.3333333333%;
    margin: 0;
    padding: 57px 33px 61px;
  }
}
@media (min-width: 1200px) {
  .services__item {
    padding: 67px 50px;
  }
}

.services__icon {
  width: 40px;
  height: 40px;
  grid-row: span 2;
  order: -1;
}
@media (min-width: 768px) {
  .services__icon {
    width: 82px;
    height: 75px;
    margin-bottom: 24px;
  }
}

.services__title {
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 1.44;
}
@media (min-width: 768px) {
  .services__title {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 21px;
    line-height: 1.24;
    text-align: center;
  }
}

.services__text {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  color: #333333;
}
@media (min-width: 768px) {
  .services__text {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .services__item--housing .services__icon {
    width: 77px;
    height: 77px;
    margin-bottom: 21px;
  }
}

@media (min-width: 768px) {
  .services__item--food .services__icon {
    width: 82px;
    height: 82px;
    margin-bottom: 14px;
  }
}
@media (min-width: 1200px) {
  .services__item--food .services__icon {
    width: 74px;
    height: 74px;
    margin-bottom: 25px;
  }
}

@media (min-width: 768px) {
  .services__item--gift .services__icon {
    width: 77px;
    height: 77px;
    margin-bottom: 14px;
  }
}
@media (min-width: 1200px) {
  .services__item--gift .services__icon {
    width: 95px;
    margin-bottom: 25px;
  }
}

.map__window {
  display: block;
  border: none;
  width: 100%;
  background-color: #ccddae;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 27px 27px, auto 100%;
  background-image: radial-gradient(#81b3d3 0, #81b3d3 8px, #ffffff 8px, #ffffff 13px, transparent 13px), url("../img/desktop/map.jpg");
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .map__window {
    background-image: radial-gradient(#81b3d3 0, #81b3d3 8px, #ffffff 8px, #ffffff 13px, transparent 13px), url("../img/desktop/map@2x.jpg");
  }
}

.offer {
  padding-left: 5.625vw;
  padding-right: 5.625vw;
  box-sizing: content-box;
  max-width: 458px;
  margin: 0 auto;
  padding-top: 38px;
  padding-bottom: 49px;
}
@media (min-width: 768px) {
  .offer {
    padding: 56px 0 58px;
  }
}
@media (min-width: 1200px) {
  .offer {
    padding-bottom: 66px;
  }
}

.offer__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 1.24;
  text-align: center;
}
@media (min-width: 768px) {
  .offer__title {
    font-size: 30px;
    margin-bottom: 26px;
  }
}

.offer__text {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}

.offer__find-hotel {
  width: 100%;
  margin-top: 33px;
  font-size: 21px;
  line-height: 1.24;
  align-self: stretch;
}
@media (min-width: 768px) {
  .offer__find-hotel {
    margin-top: 41px;
  }
}
@media (min-width: 1200px) {
  .offer__find-hotel {
    margin-top: 46px;
  }
}

.main-catalog__intro {
  margin-bottom: 37px;
}
@media (min-width: 768px) {
  .main-catalog__intro {
    margin-bottom: 64px;
  }
}
@media (min-width: 1200px) {
  .main-catalog__intro {
    margin-bottom: 100px;
  }
}

.main-catalog__catalog {
  margin-bottom: 17px;
}
@media (min-width: 768px) {
  .main-catalog__catalog {
    margin-bottom: 55px;
  }
}
@media (min-width: 1200px) {
  .main-catalog__catalog {
    margin-bottom: 62px;
  }
}

@media (min-width: 768px) {
  .main-catalog__presentation {
    margin-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .main-catalog__presentation {
    margin-bottom: 84px;
  }
}

.main-form__intro {
  margin-bottom: 36px;
}
@media (min-width: 768px) {
  .main-form__intro {
    margin-bottom: 55px;
  }
}
@media (min-width: 1200px) {
  .main-form__intro {
    margin-bottom: 106px;
  }
}

.main-form__feedback {
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .main-form__feedback {
    margin-bottom: 64px;
  }
}

.fieldset {
  position: relative;
  margin: 0;
  padding: 0 6.25vw 24px;
  border: none;
}
@media (min-width: 768px) {
  .fieldset {
    padding: 0;
  }
}

.fieldset__legend {
  margin: 0 auto;
  padding: 0;
  padding-top: 24px;
  padding-bottom: 20px;
  font-size: 18px;
  line-height: 1.44;
  font-weight: 700;
  text-align: center;
}
@media (min-width: 768px) {
  .fieldset__legend {
    padding: 0;
    margin-bottom: 28px;
    font-size: 21px;
    line-height: 1.24;
  }
}

.fieldset__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  align-items: center;
  gap: 16px;
}
@media (min-width: 768px) {
  .fieldset__list--radio {
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    grid-template-columns: repeat(2, 280px);
  }
  .fieldset__list--checkbox {
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    grid-template-columns: repeat(2, 224px);
    column-gap: 32px;
  }
}
@media (min-width: 1200px) {
  .fieldset__list--radio {
    width: 100%;
    gap: 28px 64px;
    grid-template-columns: repeat(3, auto);
    padding: 17px 53px;
  }
  .fieldset__list--checkbox {
    width: 100%;
    gap: 28px 64px;
    grid-template-columns: repeat(4, auto);
    padding: 31px 44px;
  }
}

@media (min-width: 1200px) {
  .fieldset__list--radio .fieldset__item {
    max-width: 248px;
  }
  .fieldset__list--checkbox .fieldset__item {
    max-width: 197px;
  }
}

.fieldset__textarea {
  width: 100%;
  min-height: 160px;
  resize: none;
}

.feedback-form {
  border-top: 1px solid #e5e5e5;
}
@media (min-width: 768px) {
  .feedback-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: none;
  }
  .feedback-form::before {
    content: "";
    width: 1px;
    margin-bottom: 48px;
    background-color: #dbdbdb;
    order: 2;
  }
}
@media (min-width: 1200px) {
  .feedback-form::before {
    margin-bottom: 56px;
  }
}

.feedback-form__fieldset {
  border-bottom: 1px solid #e5e5e5;
}
.feedback-form__fieldset:first-of-type {
  padding-bottom: 39px;
}
.feedback-form__fieldset:nth-of-type(2) {
  padding-bottom: 34px;
}
.feedback-form__fieldset--last {
  margin-bottom: 56px;
  padding-bottom: 0;
  border-bottom: none;
}
@media (min-width: 768px) {
  .feedback-form__fieldset {
    width: 100%;
    margin-bottom: 48px;
    border-bottom: none;
    order: 3;
  }
  .feedback-form__fieldset--penult {
    margin-bottom: 42px;
  }
  .feedback-form__fieldset--contacts {
    width: min(466px, 50% - 1px);
  }
  .feedback-form__fieldset--name {
    order: 1;
    min-width: calc(50% - 1px);
    max-width: calc(100% - 466px - 1px);
  }
  .feedback-form__fieldset:nth-of-type(n) {
    padding-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .feedback-form__fieldset {
    margin-bottom: 56px;
  }
  .feedback-form__fieldset--last {
    margin-bottom: 48px;
  }
}

@media (min-width: 768px) {
  .feedback-form__fieldset--name .feedback-form__list {
    padding-right: min(63px, 5.5989583333vw);
    padding-bottom: 15px;
  }
  .feedback-form__fieldset--contacts .feedback-form__list {
    padding-left: min(63px, 5.5989583333vw);
    padding-bottom: 15px;
  }
}
@media (min-width: 1200px) {
  .feedback-form__fieldset--name .feedback-form__list {
    padding-right: 63px;
    padding-bottom: 17px;
  }
  .feedback-form__fieldset--contacts .feedback-form__list {
    padding-left: 63px;
    padding-bottom: 17px;
  }
}

@media (min-width: 768px) {
  .feedback-form__legend--decorated {
    position: relative;
    width: 100%;
    padding: 0 calc((100% - 400px) / 2 + 47px);
  }
  .feedback-form__legend--decorated::before, .feedback-form__legend--decorated::after {
    content: "";
    position: absolute;
    top: 50%;
    height: 1px;
    width: calc((100% - 400px) / 2);
    background-color: #dbdbdb;
  }
  .feedback-form__legend--decorated::before {
    left: 0;
  }
  .feedback-form__legend--decorated::after {
    right: 0;
  }
}

.feedback-form__textarea {
  display: block;
  max-width: 768px;
  margin: 0 auto;
}

.feedback-form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 6.25vw;
  padding-right: 6.25vw;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .feedback-form__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    order: 3;
  }
}

.feedback-form__submit {
  width: 100%;
  margin-bottom: 3px;
  font-size: 21px;
  line-height: 1.24;
}
@media (min-width: 768px) {
  .feedback-form__submit {
    width: 50%;
    margin-bottom: 0;
  }
}

.feedback-form__note {
  margin-left: auto;
  font-size: 12px;
  line-height: 1.75;
  color: rgba(51, 51, 51, 0.6);
}
@media (min-width: 768px) {
  .feedback-form__note {
    font-size: 14px;
    line-height: 1.5;
    margin-top: 8px;
  }
}

@media (min-width: 768px) {
  .feedback-section {
    padding-left: 7.8125vw;
    padding-right: 7.8125vw;
  }
}
@media (min-width: 1200px) {
  .feedback-section {
    padding-left: 120px;
    padding-right: 120px;
  }
}

.feedback-section__entrance {
  padding-left: 6.25vw;
  padding-right: 6.25vw;
  max-width: 435px;
  margin: 0 auto;
  margin-bottom: 28px;
}
@media (min-width: 768px) {
  .feedback-section__entrance {
    padding: 0;
    margin-bottom: 103px;
  }
}
@media (min-width: 1200px) {
  .feedback-section__entrance {
    margin-bottom: 67px;
  }
}

.feedback-section__title {
  margin: 0;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.44;
  text-align: center;
}
@media (min-width: 768px) {
  .feedback-section__title {
    margin-bottom: 11px;
    font-size: 30px;
  }
}
@media (min-width: 1200px) {
  .feedback-section__title {
    margin-bottom: 20px;
  }
}

.feedback-section__text {
  margin: 0;
  text-align: center;
  color: #333333;
  line-height: 1.7;
}

.popup {
  display: none;
}

.popup__inner {
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}

.popup__content {
  display: flex;
  flex-direction: column;
  padding: 45px 42px 8px;
}

.popup__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 1.44;
  text-align: center;
}

.popup__message {
  margin: 0;
  text-align: center;
}

.popup__button-wrapper {
  padding: 20px;
}
.popup--success .popup__button-wrapper {
  background-color: #f2f2f2;
}

.popup__close {
  display: block;
  margin: 0 auto;
  padding-left: 64px;
  padding-right: 64px;
}

.catalog {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border-top: 1px solid #e5e5e5;
}
@media (min-width: 560px) {
  .catalog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 648px;
    margin: 0 auto;
    box-sizing: content-box;
    border-top: none;
  }
}
@media (min-width: 649px) {
  .catalog {
    padding-left: 6.25vw;
    padding-right: 6.25vw;
  }
}
@media (min-width: 768px) {
  .catalog {
    max-width: none;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 1200px) {
  .catalog {
    grid-template-columns: repeat(3, 1fr);
  }
}

.catalog__item {
  border-bottom: 1px solid #e5e5e5;
}
@media (min-width: 560px) {
  .catalog__item {
    display: flex;
    flex-direction: column;
    border-bottom: none;
  }
  .catalog__item--main {
    grid-row: 1;
    grid-column: 1/-1;
  }
}

.catalog__card {
  flex-grow: 1;
}

@media (min-width: 768px) {
  .catalog-section {
    padding: 0 7.8125vw;
  }
}
@media (min-width: 1200px) {
  .catalog-section {
    padding: 0;
  }
}

.catalog-section__entrance {
  padding-left: 6.25vw;
  padding-right: 6.25vw;
  max-width: 460px;
  margin: 0 auto 37px;
}
@media (min-width: 768px) {
  .catalog-section__entrance {
    margin-bottom: 80px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 1200px) {
  .catalog-section__entrance {
    margin-bottom: 85px;
  }
}

.catalog-section__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 1.44;
  text-align: center;
}
@media (min-width: 768px) {
  .catalog-section__title {
    font-size: 30px;
    line-height: 1;
    margin-bottom: 30px;
  }
}

.catalog-section__text {
  margin: 0;
  text-align: center;
  color: #333333;
}

.photo-card {
  padding-left: 6.25vw;
  padding-right: 6.25vw;
  width: 280px;
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 30px;
  box-sizing: content-box;
  font-size: 14px;
  line-height: 1.5;
}
@media (min-width: 560px) {
  .photo-card {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .photo-card {
    display: grid;
  }
}

.photo-card__content {
  display: flex;
  flex-direction: column;
}
@media (min-width: 560px) {
  .photo-card__content {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr min-content;
    gap: 1px 20px;
    align-items: center;
    padding: 22px 20px 15px;
    background-color: #f2f2f2;
  }
  .photo-card--highlighted .photo-card__content {
    background-color: #eaeaea;
  }
}
@media (min-width: 1200px) {
  .photo-card__content {
    grid-row: 2;
    grid-column: 1;
    padding-left: 23px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .photo-card--highlighted .photo-card__content {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.photo-card__image-container {
  margin-bottom: 15px;
}
@media (min-width: 560px) {
  .photo-card__image-container {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .photo-card__image-container {
    grid-row: 1/3;
    grid-column: 1;
  }
}

.photo-card__image {
  width: 100%;
  margin-bottom: 15px;
}
@media (min-width: 560px) {
  .photo-card__image {
    height: 267px;
    margin-bottom: 0;
    object-fit: cover;
  }
  .photo-card__image--main {
    height: 400px;
  }
}

.photo-card__title {
  max-width: 400px;
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
}

.photo-card__info {
  max-width: 400px;
  margin: 0;
  margin-bottom: 12px;
  text-transform: none;
  color: #333333;
}
@media (min-width: 560px) {
  .photo-card__info {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .photo-card__info {
    color: inherit;
  }
}

@media (min-width: 560px) {
  .photo-card__likes {
    grid-row: 1/span 2;
    grid-column: 2;
    justify-self: end;
  }
}

@media (min-width: 1200px) {
  .photo-card__likes-icon {
    opacity: 1;
  }
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 6.25vw;
  padding-right: 6.25vw;
}
@media (min-width: 768px) {
  .presentation {
    padding: 0 7.8125vw;
  }
}
@media (min-width: 1200px) {
  .presentation {
    padding: 0 120px;
  }
}

.presentation__title {
  max-width: 445px;
  margin: 0 auto;
  margin-bottom: 27px;
  font-size: 18px;
  line-height: 1.44;
  text-align: center;
}
@media (min-width: 768px) {
  .presentation__title {
    font-size: 30px;
    line-height: 1;
    margin-bottom: 29px;
  }
}

.presentation__text {
  max-width: 445px;
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
  color: #333333;
}
@media (min-width: 768px) {
  .presentation__text {
    padding: 0;
  }
}

.presentation__video {
  width: 100%;
  max-width: 800px;
  margin: 39px auto 0;
}
@media (min-width: 768px) {
  .presentation__video {
    margin-top: 90px;
  }
}
@media (min-width: 1200px) {
  .presentation__video {
    margin-top: 85px;
  }
}

.video {
  position: relative;
}

.video__image {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  object-fit: cover;
}
@media (min-width: 768px) {
  .video__image {
    height: 500px;
  }
}

.video__play {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  margin: auto;
  border-left: 48px solid rgba(255, 255, 255, 0.7);
  border-top: 27px solid transparent;
  border-bottom: 27px solid transparent;
}
/*# sourceMappingURL=style.css.map */