@use "variables.scss" as var;

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin list-style-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin base-horizontal-paddings {
  padding-left: var.$base-container-horizontal-padding;
  padding-right: var.$base-container-horizontal-padding;
}

@mixin base-centralizer {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include base-horizontal-paddings;
}
