@use "variables.scss" as var;

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin list-style-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin font-14 {
  font-size: 14px;
  line-height: 1.5;
}

@mixin font-18 {
  font-size: 18px;
  line-height: 1.44;
}

@mixin font-21 {
  font-size: 21px;
  line-height: 1.24;
}

@mixin base-horizontal-paddings($padding: var.$base-container-horizontal-padding) {
  padding-left: $padding;
  padding-right: $padding;
}
