// basic
$font-size-default-mobile: 14px;
$line-height-default-mobile: 1.5;

$color-blue-basic: #81b3d2;
$color-white: #ffffff;
$color-grey-dark: #333333;

$site-navigation-toggle-size: 56px;

$base-container-horizontal-padding: 18px;
