// basic
$font-size-default-mobile: 14px;
$line-height-default-mobile: 1.5;

// colors
$color-blue-basic: #81b3d2;
$color-white: #ffffff;
$color-grey-dark: #333333;
$color-grey-light: #eeeeee;
$color-grey-rare-1: #d6d6d6;

// sizes
$site-navigation-toggle-size: 56px;
$base-container-horizontal-padding: 18px;
