// basic
$font-size-default-mobile: 14px;
$line-height-default-mobile: 1.5;

// colors
$color-blue-basic: #81b3d2;
$color-white: #ffffff;
$color-black: #000000;
$color-black-tr-30: rgba(#000000, 0.3);
$color-grey-basic: #f2f2f2;
$color-grey-dark: #333333;
$color-grey-dark-tr-60: rgba(#333333, 0.6);
$color-grey-light: #eeeeee;
$color-grey-rare-1: #d6d6d6;
$color-grey-rare-2: #e5e5e5;
$color-background-intro: rgba(#81b3d2, 0.5);
$color-background-map: #ccddae;

// sizes
$site-navigation-toggle-size: 56px;
$base-container-horizontal-padding: 18px;
