@use "../mixins.scss";
@use "../variables.scss" as var;

.advantages {
  @include mixins.list-style-reset;

  display: flex;
  flex-direction: column;
  counter-reset: advantage;

  @media (min-width: var.$tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.advantages__item {
  position: relative;
  order: 3;

  &--order-first {
    order: 1;
  }

  &--order-second {
    order: 2;
  }

  &--last {
    padding-bottom: 28px;
  }

  &::after {
    content: "";

    position: absolute;
    left: var.$base-container-horizontal-padding;
    right: var.$base-container-horizontal-padding;
    bottom: 0;
    height: 1px;

    background-color: var.$color-grey-rare-1;
  }

  &--illustrated,
  &--services,
  &--last {
    &::after {
      display: none;
    }
  }

  @media (min-width: var.$tablet-width) {
    &--illustrated {
      display: flex;
      width: 100%;
    }

    &--reversed {
      flex-direction: row-reverse;
    }

    &--services {
      width: 100%;
    }

    &::after {
      display: none;
    }
  }
}

.advantages__element-container {
  flex-shrink: 0;

  .advantages__item--order-first & {
    padding-top: 34px;
    padding-bottom: 40px;
  }

  @media (min-width: var.$tablet-width) {
    &,
    .advantages__item--order-first & {
      padding-top: 52px;
      padding-bottom: 31px;
    }
  }
}

.advantages__image-container {
  flex-grow: 1;
}

.advantages__image {
  width: 100%;
  height: 260px;
  object-fit: cover;

  @media (min-width: var.$tablet-width) {
    width: 100%;
    min-height: var.$advantages-element-min-height;
    height: 100%;
  }
}

.advantages__title {
  position: relative;

  &::after {
    counter-increment: advantage;
    content: "— №" counter(advantage) " —";

    position: absolute;
    top: calc(100% + 11px);
    left: 50%;
    transform: translateX(-50%);

    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color: var.$color-grey-dark;
  }

  .advantages__item--illustrated &::after {
    color: var.$color-white;
  }

  @media (min-width: var.$tablet-width) {
    font-size: 21px;
    line-height: 1.24;
    padding: 0 20px;
  }
}
