@use "../mixins.scss";
@use "../variables.scss" as var;

.advantages-section__entrance {
  position: relative;

  max-width: 520px;
  margin: 0 auto;
  padding-bottom: 53px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 37px;

    background-color: var.$color-blue-basic;
    background-image: url("../../img/mobile/advantages-entrance-decoration.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 37px;

    @media (min-width: var.$tablet-width) {
      display: none;
    }
  }

  @media (min-width: var.$tablet-width) {
    padding-top: 48px;
    padding-bottom: 55px;
  }
}
