@use "../mixins.scss";
@use "../variables.scss" as var;

.advantages-section__entrance {
  @include mixins.base-horizontal-paddings;
  position: relative;
  z-index: 1;
  box-sizing: content-box;
  max-width: 520px;
  margin: 0 auto;
  padding-bottom: 53px;

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    width: var.$tablet-width;
    height: 42px;
    background-color: var.$color-blue-basic;
    clip-path: polygon(0 0, 50% 37px, 100% 0, 100% 100%, 0 100%, 0 0);
  }

  @media (min-width: var.$tablet-width) {
    margin-bottom: 56px;
    padding: 0;

    &::after {
      display: none;
    }
  }

  @media (min-width: var.$desktop-width) {
    margin-bottom: 45px;
  }
}

.advantages-section__title {
  margin: 0;
  margin-bottom: 34px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;

  @media (min-width: var.$tablet-width) {
    @include mixins.font-21;
    margin-bottom: 28px;
  }
}

.advantages-section__text {
  margin: 0;
  text-align: center;
  color: var.$color-grey-dark;
}
