@use "../mixins.scss";
@use "../variables.scss" as var;

.advantages {
  @include mixins.list-style-reset;
  display: flex;
  flex-direction: column;
  counter-reset: advantage;

  @media (min-width: var.$tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.advantages__item {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: var.$base-container-horizontal-padding;
    right: var.$base-container-horizontal-padding;
    bottom: 0;
    height: 1px;
    background-color: var.$color-grey-rare-1;
  }

  &--illustrated,
  &:last-child {
    &::after {
      display: none;
    }
  }

  @media (max-width: var.$mobile-only-width) {
    &:last-child {
      padding-bottom: 28px;
    }
  }

  @media (min-width: var.$tablet-width) {
    &--illustrated {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }

    &--reversed {
      flex-direction: row-reverse;
    }

    &::after {
      display: none;
    }
  }
}

.advantages__item:first-child .advantages__element-container {
  @media (max-width: var.$mobile-only-width) {
    padding-top: 34px;
    padding-bottom: 40px;
  }
}

.advantages__image-container {
  @media (min-width: var.$tablet-width) {
    width: calc(100% * 2 / 3);
  }
}

.advantages__image {
  width: 100%;
  height: 260px;
  object-fit: cover;

  @media (min-width: var.$tablet-width) {
    width: 100%;
    min-height: var.$advantages-element-min-height;
    height: 100%;
  }
}
