@use "../mixins.scss";
@use "../variables.scss" as var;

$-text-max-width-mobile: 400px;

.advantage-element {
  @include mixins.base-horizontal-paddings;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 26px;
  background-color: var.$color-grey-light;

  &--special {
    padding-top: 37px;
    padding-bottom: 37px;
    background-color: var.$color-blue-basic;
    color: var.$color-white;
  }

  @media (min-width: var.$tablet-width) {
    min-height: var.$advantages-element-min-height;
    width: calc(100% / 3);
    padding: 42px var.$advantage-element-horizontal-padding-tablet;

    &--special {
      padding-top: 52px;
      padding-bottom: 31px;
    }
  }

  @media (min-width: var.$desktop-width) {
    padding-left: var.$advantage-element-horizontal-padding-desktop;
    padding-right: var.$advantage-element-horizontal-padding-desktop;

    &--special {
      padding-bottom: 52px;
    }
  }
}

.advantage-element__title {
  @include mixins.font-18;
  position: relative;
  max-width: $-text-max-width-mobile;
  margin: 0 auto;
  margin-bottom: 49px;
  text-align: center;

  &::after {
    @include mixins.font-14;
    counter-increment: advantage;
    content: "— №" counter(advantage) " —";
    position: absolute;
    top: calc(100% + 11px);
    left: 50%;
    transform: translateX(-50%);
    font-weight: 400;
    color: var.$color-grey-dark;
  }

  @media (min-width: var.$tablet-width) {
    @include mixins.font-21;
    max-width: 150px;
    margin-bottom: 56px;
  }
}

.advantage-element--special .advantage-element__title {
  &::after {
    color: inherit;
  }
}

.advantage-element__text {
  @include mixins.font-14;
  max-width: $-text-max-width-mobile;
  margin: 0 auto;
  text-align: center;
  color: var.$color-grey-dark;
}

.advantage-element--special .advantage-element__text {
  color: var.$color-white;
}
