@use "../mixins.scss";
@use "../variables.scss" as var;

$-text-max-width: 400px;

.advantage-element {
  @include mixins.base-centralizer;
  justify-content: center;

  padding-top: 24px;
  padding-bottom: 26px;

  background-color: var.$color-grey-light;

  &--special {
    padding-top: 37px;
    padding-bottom: 37px;

    background-color: var.$color-blue-basic;
    color: var.$color-white;
  }

  @media (min-width: var.$tablet-width) {
    min-height: var.$advantages-element-min-height;
    width: calc(100% / 3);
    padding: 28px var.$advantage-element-horizontal-padding-tablet;
  }

  @media (min-width: var.$desktop-width) {
    padding: 52px var.$advantage-element-horizontal-padding-desktop;
  }
}

.advantage-element__title {
  max-width: $-text-max-width;
  margin: 0 auto;
  margin-bottom: 49px;

  font-size: 18px;
  line-height: 1.44;
  text-align: center;

  @media (min-width: var.$tablet-width) {
    margin-bottom: 56px;
  }
}

.advantage-element__text {
  max-width: $-text-max-width;
  margin: 0 auto;

  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: var.$color-grey-dark;

  .advantage-element--special & {
    color: var.$color-white;
  }
}
