@use "../variables.scss" as var;
@use "../mixins.scss";

.button {
  display: inline-block;
  margin: 0;
  padding: 16px 45px;

  @include mixins.font-18;
  font-family: inherit;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  border: none;
  word-wrap: break-word;
  cursor: pointer;

  @include mixins.blue-intaractive-element;

  &:disabled {
    background-color: var.$color-grey-rare-2;
    color: var.$color-white;
    cursor: default;
  }
}
