@use "../variables.scss" as var;

.button {
  display: inline-block;
  margin: 0;
  padding: 16px 45px;

  font-family: inherit;
  font-size: 18px;
  line-height: 1.44;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: var.$color-white;

  border: none;
  background-color: var.$color-blue-basic;

  cursor: pointer;
}
