@use "../mixins.scss";
@use "../variables.scss" as var;

.catalog {
  @include mixins.list-style-reset;

  border-top: var.$border-line;

  @media (min-width: var.$catalog-tablet-min-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: var.$catalog-tablet-max-width;
    margin: 0 auto;
    box-sizing: content-box;
    border-top: none;
  }

  @media (min-width: (var.$catalog-tablet-max-width + 1px)) {
    @include mixins.base-horizontal-paddings;
  }

  @media (min-width: var.$tablet-width) {
    max-width: none;
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: var.$desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.catalog__item {
  border-bottom: var.$border-line;

  @media (min-width: var.$catalog-tablet-min-width) {
    display: flex;
    flex-direction: column;
    border-bottom: none;

    &--main {
      grid-row: 1;
      grid-column: 1 / -1;
    }
  }
}

.catalog__card {
  flex-grow: 1;
}
