@use "../variables.scss" as var;

.change-field__label {
  display: grid;
  grid-template-columns: 46px 1fr;
  column-gap: 16px;
  align-items: center;
  font-size: 18px;
  line-height: 1.44;
  font-weight: 700;
  text-transform: none;

  &::before {
    content: "";
    width: 46px;
    height: 46px;
    background-color: var.$color-grey-basic;
  }

  &--radio {
    &::before {
      border-radius: 50%;
      border: 15px solid var.$color-grey-basic;
    }

    .change-field__input:checked + &::before {
      background-color: var.$color-grey-dark;
    }
  }

  &--checkbox {
    &::before {
      border-radius: 4px;
    }

    .change-field__input:checked + &::before {
      background-image: url("../img/icons/tick.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 22px 16px;
    }
  }
}

.change-field__marker {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);


  background-color: var.$color-grey-basic;

  &--radio {
    border-radius: 50%;
    border: 15px solid var.$color-grey-basic;
  }

  &--checkbox {
    border-radius: 4px;
  }

  .change-field__input:checked ~ &--radio {
    background-color: var.$color-grey-dark;
  }
}
