@use "../mixins.scss";
@use "../variables.scss" as var;

.feedback-section__entrance {
  @include mixins.base-horizontal-paddings;

  max-width: 475px;
  margin: 0 auto;
  padding-top: 36px;
  padding-bottom: 28px;

  @media (min-width: var.$tablet-width) {
    padding-top: 64px;
    padding-bottom: 102px;
  }

  @media (min-width: var.$desktop-width) {
    padding-top: 115px;
    padding-bottom: 67px;
  }
}

.feedback-section__title {
  margin: 0;
  margin-bottom: 24px;

  font-size: 18px;
  line-height: 1.44;
  text-align: center;

  @media (min-width: var.$tablet-width) {
    margin-bottom: 20px;

    font-size: 30px;
  }
}

.feedback-section__text {
  margin: 0;
  text-align: center;
  color: var.$color-grey-dark;
}
