@use "../mixins.scss";
@use "../variables.scss" as var;

$-border-line: 1px solid var.$color-grey-rare-2;

.feedback-form {
  display: flex;
  flex-direction: column;

  padding-bottom: 24px;

  border-top: $-border-line;
}

.feedback-form__fieldset {
  border-bottom: $-border-line;

  &--last {
    margin-bottom: 56px;
    padding-bottom: 0;
    border-bottom: none;
  }
}

.feedback-form__container {
  @include mixins.base-centralizer;
}

.feedback-form__submit {
  width: 100%;
  margin-bottom: 3px;

  font-size: 21px;
  line-height: 1.24;
}

.feedback-form__note {
  margin-left: auto;

  font-size: 12px;
  line-height: 1.75;
  color: var.$color-grey-dark-tr-60;
}
