@use "../mixins.scss";
@use "../variables.scss" as var;

$-fieldset-margin-bottom-tablet: 48px;
$-fieldset-margin-bottom-desktop: 56px;
$-desktop-form-down-elements-max-width: 768px;
$-contacts-fieldset-max-width: 466px;

.feedback-form {
  border-top: var.$border-line;

  @media (min-width: var.$tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: none;

    &::before {
      content: "";
      width: 1px;
      margin-bottom: $-fieldset-margin-bottom-tablet;
      background-color: var.$color-grey-rare-3;
      order: 2;
    }
  }

  @media (min-width: var.$desktop-width) {
    &::before {
      margin-bottom: $-fieldset-margin-bottom-desktop;
    }
  }
}

.feedback-form__fieldset {
  border-bottom: var.$border-line;

  &:first-of-type {
    padding-bottom: 39px;
  }

  &:nth-of-type(2) {
    padding-bottom: 34px;
  }

  &--last {
    margin-bottom: 56px;
    padding-bottom: 0;
    border-bottom: none;
  }

  @media (min-width: var.$tablet-width) {
    width: 100%;
    margin-bottom: $-fieldset-margin-bottom-tablet;
    border-bottom: none;
    order: 3;

    &--penult {
      margin-bottom: 42px;
    }

    &--contacts {
      width: min($-contacts-fieldset-max-width, calc(50% - 1px));
    }

    &--name {
      order: 1;
      min-width: calc(50% - 1px);
      max-width: calc(100% - $-contacts-fieldset-max-width - 1px);
    }

    &:nth-of-type(n) {
      padding-bottom: 0;
    }
  }

  @media (min-width: var.$desktop-width) {
    margin-bottom: $-fieldset-margin-bottom-desktop;

    &--last {
      margin-bottom: 48px;
    }
  }
}

.feedback-form__list {
  $-desktop-text-fields-horizontal-padding: 63px;
  $-tablet-text-fields-horizontal-padding:
    min($-desktop-text-fields-horizontal-padding, calc(100vw * 43 / 768));

  @media (min-width: var.$tablet-width) {
    .feedback-form__fieldset--name & {
      padding-right: $-tablet-text-fields-horizontal-padding;
      padding-bottom: 15px;
    }

    .feedback-form__fieldset--contacts & {
      padding-left: $-tablet-text-fields-horizontal-padding;
      padding-bottom: 15px;
    }
  }

  @media (min-width: var.$desktop-width) {
    .feedback-form__fieldset--name & {
      padding-right: $-desktop-text-fields-horizontal-padding;
      padding-bottom: 17px;
    }

    .feedback-form__fieldset--contacts & {
      padding-left: $-desktop-text-fields-horizontal-padding;
      padding-bottom: 17px;
    }
  }
}

.feedback-form__textarea {
  max-width: $-desktop-form-down-elements-max-width;
  margin: 0 auto;
}

.feedback-form__container {
  @include mixins.base-horizontal-paddings;
  width: 100%;
  max-width: $-desktop-form-down-elements-max-width;
  margin: 0 auto;

  @media (min-width: var.$tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    order: 3;
  }
}

.feedback-form__submit {
  width: 100%;
  margin-bottom: 3px;

  @include mixins.font-21;

  @media (min-width: var.$tablet-width) {
    width: 50%;
    margin-bottom: 0;
  }
}

.feedback-form__note {
  display: block;
  width: fit-content;
  margin-left: auto;

  font-size: 12px;
  line-height: 1.75;
  color: var.$color-grey-dark-tr-60;

  @media (min-width: var.$tablet-width) {
    @include mixins.font-14;
    margin-top: 8px;
  }
}
