@use "../mixins.scss";
@use "../variables.scss" as var;

$-legend-line-width: calc((100% - 400px) / 2);

.fieldset {
  position: relative;
  margin: 0;
  padding: 0 var.$base-container-horizontal-padding 24px;
  border: none;

  @media (min-width: var.$tablet-width) {
    padding: 0;
  }
}

.fieldset__legend {
  margin: 0 auto;
  padding: 0;
  padding-top: 24px;
  padding-bottom: 20px;

  @include mixins.font-18;
  font-weight: 700;
  text-align: center;

  @media (min-width: var.$tablet-width) {
    padding: 0;
    margin-bottom: 28px;

    @include mixins.font-21;

    &--decorated {
      position: relative;
      width: 100%;
      padding: 0 calc($-legend-line-width + 47px);

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        height: 1px;
        width: $-legend-line-width;
        background-color: var.$color-grey-rare-3;
      }

      &::before {
        left: 0;
      }

      &::after {
        right: 0;
      }
    }
  }
}

.fieldset__list {
  @include mixins.list-style-reset;

  display: grid;
  align-items: center;
  gap: 16px;

  @media (min-width: var.$tablet-width) {
    &--radio {
      width: fit-content;
      margin: 0 auto;
      grid-template-columns: repeat(2, 280px);
    }

    &--checkbox {
      width: fit-content;
      margin: 0 auto;
      grid-template-columns: repeat(2, 224px);
      column-gap: 32px;
    }
  }

  @media (min-width: var.$desktop-width) {
    &--radio {
      width: 100%;
      gap: 28px 64px;
      grid-template-columns: repeat(3, auto);
      padding: 17px 53px;
    }

    &--checkbox {
      width: 100%;
      gap: 28px 64px;
      grid-template-columns: repeat(4, auto);
      padding: 31px 44px;
    }
  }
}

.fieldset__item {
  @media (min-width: var.$desktop-width) {
    .fieldset__list--radio & {
      max-width: 248px;
    }

    .fieldset__list--checkbox & {
      max-width: 197px;
    }
  }
}

.fieldset__textarea {
  display: block;
  width: 100%;
  min-height: 150px;
  resize: none;

  @media (min-width: var.$tablet-width) {
    min-height: 160px;
  }
}
