@use "../mixins.scss";
@use "../variables.scss" as var;

.fieldset {
  position: relative;

  margin: 0;
  padding: 0 var.$base-container-horizontal-padding 24px;

  border: none;
}

.fieldset__legend {
  margin: 0 auto;
  padding: 0;
  padding-top: 24px;
  padding-bottom: 20px;

  font-size: 18px;
  line-height: 1.44;
  font-weight: 700;
  text-align: center;
}

.fieldset__list {
  @include mixins.list-style-reset;
}

.fieldset__item {
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.fieldset__textarea {
  width: 100%;
  min-height: 150px;
  resize: none;
}
