@use "../mixins.scss";
@use "../variables.scss" as var;

.footer {
  @include mixins.base-horizontal-paddings;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 28px;
  padding-bottom: 23px;

  @media (min-width: var.$tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 36px var.$tablet-base-horizontal-padding;
  }

  @media (min-width: var.$desktop-width) {
    padding-left: var.$desktop-base-horizontal-padding;
    padding-right: var.$desktop-base-horizontal-padding;
  }
}

.footer__hashtag {
  @include mixins.font-21;
  margin: 0;
  margin-bottom: 34px;
  font-weight: 700;

  @media (min-width: var.$tablet-width) {
    margin-bottom: 0;
  }
}

.footer__social {
  margin-bottom: 40px;

  @media (min-width: var.$tablet-width) {
    margin-bottom: 0;
  }
}

.footer__maid-in {
  @include mixins.intaractive-element;
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  gap: 12px;
  margin: 0;
}
