@use "../mixins.scss";
@use "../variables.scss" as var;

.footer {
  @include mixins.base-centralizer;

  padding-top: 28px;
  padding-bottom: 23px;

  @media (min-width: var.$tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 36px 60px;

    &--index {
      padding-right: 76px;
    }
  }

  @media (min-width: var.$desktop-width) {
    padding-left: 120px;
    padding-right: 120px;

    &--index {
      padding-right: 136px;
    }
  }
}

.footer__hashtag {
  margin: 0;
  margin-bottom: 34px;

  font-size: 21px;
  line-height: 1.24;
  font-weight: 700;

  @media (min-width: var.$tablet-width) {
    margin-bottom: 0;
  }
}

.footer__social {
  margin-bottom: 40px;

  @media (min-width: var.$tablet-width) {
    margin-bottom: 0;
    margin-right: 8px;

    .footer--index & {
      margin-left: 12px;
    }
  }

  @media (min-width: var.$desktop-width) {
    .footer--index & {
      margin-left: 20px;
    }
  }
}

.footer__maid-in {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  gap: 12px;
  margin: 0;
  color: inherit;
}
