@use "../variables.scss" as var;
@use "../mixins.scss";

.likes {
  @include mixins.smooth-transition;
  display: flex;
  align-items: flex-end;
  color: inherit;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }

  @media (min-width: var.$tablet-width) {
    margin-bottom: 8px;
  }
}

.likes__icon {
  margin-right: 14px;
  opacity: 0.3;

  @media (min-width: var.$tablet-width) {
    margin-right: 9px;
  }

  @media (min-width: var.$desktop-width) {
    opacity: 1;
  }
}

.likes__count {
  font-weight: 700;
  line-height: 1;
}
