@use "../variables.scss" as var;

.main-catalog__intro {
  margin-bottom: 37px;

  @media (min-width: var.$tablet-width) {
    margin-bottom: 64px;
  }

  @media (min-width: var.$desktop-width) {
    margin-bottom: 100px;
  }
}

.main-catalog__catalog {
  margin-bottom: 17px;

  @media (min-width: var.$tablet-width) {
    margin-bottom: 55px;
  }

  @media (min-width: var.$desktop-width) {
    margin-bottom: 62px;
  }
}

.main-catalog__presentation {
  @media (min-width: var.$tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: var.$desktop-width) {
    margin-bottom: 84px;
  }
}
