@use "../variables.scss" as var;

$-map-marker: radial-gradient(
  var.$color-blue-secondary 0,
  var.$color-blue-secondary 8px,
  var.$color-white 8px,
  var.$color-white 13px,
  transparent 13px,
);

@mixin map-background($map-image) {
  background-image:
    $-map-marker,
    $map-image;
}

.webp .map__window {
  --bg-image: url("../img/desktop/map.webp");

  @media (min-resolution: 2dppx) {
    --bg-image: url("../img/desktop/map@2x.webp");
  }

  @media (max-width: var.$tablet-width) {
    --bg-image: url("../img/tablet/map.webp");
  }

  @media (max-width: var.$tablet-width) and (min-resolution: 2dppx) {
    --bg-image: url("../img/tablet/map@2x.webp");
  }

  @media (max-width: var.$mobile-min-width) {
    --bg-image: url("../img/mobile/map.webp");
  }

  @media (max-width: var.$mobile-min-width) and (min-resolution: 2dppx) {
    --bg-image: url("../img/mobile/map@2x.webp");
  }
}

.no-webp .map__window {
  --bg-image: url("../img/desktop/map.jpg");

  @media (min-resolution: 2dppx) {
    --bg-image: url("../img/desktop/map@2x.jpg");
  }

  @media (max-width: var.$tablet-width) {
    --bg-image: url("../img/tablet/map.jpg");
  }

  @media (max-width: var.$tablet-width) and (min-resolution: 2dppx) {
    --bg-image: url("../img/tablet/map@2x.jpg");
  }

  @media (max-width: var.$mobile-min-width) {
    --bg-image: url("../img/mobile/map.jpg");
  }

  @media (max-width: var.$mobile-min-width) and (min-resolution: 2dppx) {
    --bg-image: url("../img/mobile/map@2x.jpg");
  }
}

.map__window {
  @include map-background(var(--bg-image));
  display: block;
  border: none;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 27px 27px, auto 100%;
}
