@use "../mixins.scss";
@use "../variables.scss" as var;

$-content-max-width: 458px;

.offer {
  @include mixins.base-horizontal-paddings(
    var.$base-container-horizontal-padding-index,
  );

  box-sizing: content-box;
  max-width: $-content-max-width;
  margin: 0 auto;
  padding-top: 38px;
  padding-bottom: 49px;

  @media (min-width: var.$tablet-width) {
    padding: 56px 0 58px;
  }

  @media (min-width: var.$desktop-width) {
    padding-bottom: 66px;
  }
}

.offer__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 1.24;
  text-align: center;

  @media (min-width: var.$tablet-width) {
    font-size: 30px;
    margin-bottom: 26px;
  }
}

.offer__text {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}

.offer__find-hotel {
  width: 100%;
  margin-top: 33px;

  font-size: 21px;
  line-height: 1.24;

  align-self: stretch;

  @media (min-width: var.$tablet-width) {
    margin-top: 41px;
  }

  @media (min-width: var.$desktop-width) {
    margin-top: 46px;
  }
}
