@use "../mixins.scss";
@use "../variables.scss" as var;

.photo-card {
  @include mixins.base-horizontal-paddings;
  padding-top: 24px;
  padding-bottom: 30px;

  font-size: 14px;
  line-height: 1.5;
}

.photo-card__content {
  display: flex;
  flex-direction: column;
}

.photo-card__title {
  margin: 0;

  font-size: 14px;
  line-height: 1.5;
}

.photo-card__image {
  width: 100%;
  margin-bottom: 15px;
}

.photo-card__info {
  margin: 0;
  margin-bottom: 11px;
  text-transform: none;
  color: var.$color-grey-dark;
}
