@use "../mixins.scss";
@use "../variables.scss" as var;

$-text-content-max-width: 445px;

.presentation {
  @include mixins.base-centralizer;

  @media (min-width: var.$tablet-width) {
    padding: 0 var.$tablet-base-horizontal-padding;
  }

  @media (min-width: var.$desktop-width) {
    padding: 0 var.$desktop-base-horizontal-padding;
  }
}

.presentation__title {
  max-width: $-text-content-max-width;
  margin: 0 auto;
  margin-bottom: 27px;

  font-size: 18px;
  line-height: 1.44;
  text-align: center;

  @media (min-width: var.$tablet-width) {
    font-size: 30px;
    line-height: 1;
  }
}


.presentation__text {
  max-width: $-text-content-max-width;
  margin: 0 auto;
  padding: 0 10px;

  text-align: center;
  color: var.$color-grey-dark;
}

.presentation__video {
  width: 100%;
  max-width: 800px;
  margin: 39px auto 0;

  @media (min-width: var.$tablet-width) {
    margin-top: 88px;
  }
}
