@use "../mixins.scss";
@use "../variables.scss" as var;

.servises {
  @include mixins.list-style-reset;
  @include mixins.base-horizontal-paddings;

  max-width: 550px;
  margin: 0 auto;
  padding-top: 23px;
  padding-bottom: 46px;

  @media (min-width: var.$tablet-width) {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 0;
  }
}

.servises__item {
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 16px 8px;
  margin-bottom: 25px;

  &:last-child {
    margin: 0;
  }

  @media (min-width: var.$tablet-width) {
    display: flex;
    gap: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% / 3);
    margin: 0;
    padding: 60px var.$advantage-element-horizontal-padding-tablet;
  }

  @media (min-width: var.$desktop-width) {
    padding: 69px var.$advantage-element-horizontal-padding-desktop;
  }
}

.servises__title {
  margin: 0;
  font-size: 18px;
  line-height: 1.44;

  @media (min-width: var.$tablet-width) {
    margin-bottom: 26px;

    font-size: 21px;
    line-height: 1.24;
    text-align: center;
  }
}

.servises__icon {
  width: 40px;
  height: 40px;
  grid-row: span 2;
  order: -1;

  @media (min-width: var.$tablet-width) {
    width: 82px;
    height: 72px;
    margin-bottom: 26px;
  }
}

.servises__text {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  color: var.$color-grey-dark;

  @media (min-width: var.$tablet-width) {
    text-align: center;
  }
}
