@use "../mixins.scss";
@use "../variables.scss" as var;

.services {
  @include mixins.list-style-reset;
  @include mixins.base-horizontal-paddings(
    var.$base-container-horizontal-padding-index,
  );

  max-width: 550px;
  margin: 0 auto;
  padding-top: 23px;
  padding-bottom: 46px;

  @media (min-width: var.$tablet-width) {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 0;
  }
}

.services__item {
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 16px 7px;
  margin-bottom: 25px;

  &:last-child {
    margin: 0;
  }

  @media (min-width: var.$tablet-width) {
    display: flex;
    gap: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% / 3);
    margin: 0;
    padding: 57px var.$advantage-element-horizontal-padding-tablet 61px;
  }

  @media (min-width: var.$desktop-width) {
    // padding: 60px var.$advantage-element-horizontal-padding-desktop;
  }
}

.services__icon {
  width: 40px;
  height: 40px;
  grid-row: span 2;
  order: -1;

  @media (min-width: var.$tablet-width) {
    width: 82px;
    height: 75px;
    margin-bottom: 24px;
  }
}

.services__title {
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 1.44;

  @media (min-width: var.$tablet-width) {
    margin-top: 0;
    margin-bottom: 25px;

    font-size: 21px;
    line-height: 1.24;
    text-align: center;
  }
}

.services__text {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  color: var.$color-grey-dark;

  @media (min-width: var.$tablet-width) {
    text-align: center;
  }
}

.services__item--housing {
  @media (min-width: var.$tablet-width) {
    .services__icon {
      width: 77px;
      height: 77px;
      margin-bottom: 21px;
    }
  }
}

.services__item--food {
  @media (min-width: var.$tablet-width) {
    .services__icon {
      width: 82px;
      height: 82px;
      margin-bottom: 14px;
    }
  }
}

.services__item--gift {
  @media (min-width: var.$tablet-width) {
    .services__icon {
      width: 77px;
      height: 77px;
      margin-bottom: 14px;
    }
  }
}
