@use "../mixins.scss";
@use "../variables.scss" as var;

.servises {
  @include mixins.list-style-reset;
  @include mixins.base-centralizer;

  padding-top: 23px;
  padding-bottom: 46px;
}

.servises__item {
  &::before {
    content: "";
    width: 40px;
    height: 40px;

    background-repeat: no-repeat;
    background-position: left top;
  }
}

.servises__title {
  margin: 0;
  font-size: 18px;
  line-height: 1.44;
}

.servises__text {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  color: var.$color-grey-dark;
}
