@use "../mixins.scss";
@use "../variables.scss" as var;

$-link-shadow-top: inset 0 1px 0 rgba(255, 255, 255, 0.2);
$-link-shadow-bottom: inset 0 -1px 0 rgba(1, 1, 1, 0.2);

.site-navigation__toggle {
  position: absolute;
  top: 0;
  right: 0;

  width: var.$site-navigation-toggle-size;
  height: var.$site-navigation-toggle-size;
  margin: 0;

  border: none;
  background-color: transparent;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 26px;
    right: 18px;
    width: 27px;
    height: 4px;
    background-color: var.$color-white;
  }

  &::before {
    transform: rotate(45deg);
    background-image: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  .site-navigation--mobile-hidden & {
    &::before {
      content: "";
      position: absolute;
      top: 17px;
      right: 20px;
      width: 23px;
      height: 22px;
      background-image:
        linear-gradient(to bottom,
          var.$color-blue-basic 0,
          var.$color-blue-basic 4px,
          transparent 4px);
      background-size: 100% 9px;
      transform: none;
    }

    &::after {
      display: none;
    }
  }

  &:disabled {
    display: none;
  }

  @media (min-width: var.$tablet-width) {
    display: none;
  }
}

.site-navigation__list {
  @include mixins.list-style-reset;

  background-color: var.$color-blue-basic;

  .site-navigation--mobile-hidden & {
    display: none;
  }

  @media (min-width: var.$tablet-width) {
    .site-navigation--mobile-hidden & {
      display: grid;
    }

    display: grid;
    grid-template-columns: repeat(5, 1fr);

    background-color: var.$color-white;

    &::before {
      content: "";
      grid-row: 1 / span 2;
      grid-column: 3 / 4;
    }
  }
}

.site-navigation__item {
  display: grid;
}

.site-navigation__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17px 50px 13px;

  font-size: 18px;
  line-height: 1.44;
  font-weight: 700;
  color: var.$color-white;

  box-shadow:
    $-link-shadow-top,
    $-link-shadow-bottom;

  word-wrap: break-word;

  .site-navigation__item:first-child & {
    box-shadow: $-link-shadow-bottom;
  }

  .site-navigation__item:last-child & {
    box-shadow: $-link-shadow-top;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2) 0, transparent 7px);
  }

  @media (min-width: var.$tablet-width) {
    padding: 18px;

    font-size: 14px;
    line-height: 1.5;
    font-weight: 700;
    color: var.$color-black;

    box-shadow: none;

    &--current {
      color: var.$color-brown-basic;
    }

    .site-navigation__item:first-child & {
      box-shadow: none;
    }

    .site-navigation__item:last-child & {
      box-shadow: none;
      background: none;
    }
  }
}
