@use "../mixins.scss";
@use "../variables.scss" as var;

$-link-shadow-top: inset 0 1px 0 rgba(255, 255, 255, 0.2);
$-link-shadow-bottom: inset 0 -1px 0 rgba(1, 1, 1, 0.2);

.site-navigation {
  position: relative;
}

.site-navigation__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 63px;
  height: var.$site-navigation-toggle-size;
  margin: 0;
  border: none;
  background-color: transparent;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 27px;
    height: 4px;
    background-color: var.$color-white;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
    background-image: none;
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &:disabled {
    display: none;
  }

  @media (min-width: var.$tablet-width) {
    display: none;
  }
}

.site-navigation__list {
  @include mixins.list-style-reset;
  position: absolute;
  left: 0;
  right: 0;
  background-color: var.$color-blue-basic;

  @media (min-width: var.$tablet-width) {
    position: static;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: var.$color-white;

    &::before {
      content: "";
      grid-row: 1 / span 2;
      grid-column: 3 / 4;
    }
  }
}

.site-navigation--mobile-hidden {
  .site-navigation__toggle {
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 23px;
      height: 22px;
      background-image:
        linear-gradient(to bottom,
          var.$color-blue-basic 0,
          var.$color-blue-basic 4px,
          transparent 4px);
      background-size: 100% 9px;
    }

    &::after {
      display: none;
    }
  }

  .site-navigation__list {
    display: none;

    @media (min-width: var.$tablet-width) {
      display: grid;
    }
  }
}

.site-navigation--no-js {
  padding-top: 85px;

  .site-navigation__toggle {
    display: none;
  }

  .site-navigation__list {
    position: static;
  }

  @media (min-width: var.$tablet-width) {
    padding-top: 0;
  }
}

.site-navigation__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17px 65px 13px;

  @include mixins.font-18;
  font-weight: 700;
  color: var.$color-white;
  box-shadow:
    $-link-shadow-top,
    $-link-shadow-bottom;
  word-wrap: break-word;

  @media (min-width: var.$tablet-width) {
    padding: 18px;

    @include mixins.font-14;
    font-weight: 700;
    color: var.$color-black;
    box-shadow: none;

    &--current {
      color: var.$color-brown-basic;
    }
  }
}

.site-navigation__item:first-child .site-navigation__link {
  box-shadow: $-link-shadow-bottom;

  @media (min-width: var.$tablet-width) {
    box-shadow: none;
  }
}

.site-navigation__item:last-child .site-navigation__link {
  box-shadow: $-link-shadow-top;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.2) 0, transparent 7px);

  @media (min-width: var.$tablet-width) {
    box-shadow: none;
    background: none;
  }
}
