@use "../mixins.scss";
@use "../variables.scss" as var;

$-link-size: 48px;
$-gap: 6px;

.social {
  @include mixins.list-style-reset;

  display: flex;
  flex-wrap: wrap;

  max-width: $-link-size * 3 + $-gap * 2;
}

.social__item {
  margin-right: $-gap;
  margin-bottom: $-gap;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:nth-child(3n):last-child,
  &:nth-child(3n - 1):nth-last-child(-n + 2),
  &:nth-child(3n - 2):nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: $-link-size;
  min-height: $-link-size;
  padding: 10px;

  color: var.$color-white;
  background-color: var.$color-blue-basic;
}
