@use "../mixins.scss";
@use "../variables.scss" as var;

$-link-size: 48px;

.social {
  @include mixins.list-style-reset;

  display: grid;
  grid-template-columns: repeat(3, $-link-size);
  grid-auto-rows: 48px;
  gap: 6px;
}

.social__item {
  display: grid;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;

  @include mixins.blue-intaractive-element;
}
