@use "../variables.scss" as var;

.text-field {
  display: flex;
  flex-direction: column;
}

.text-field__label {
  padding-left: 16px;

  color: var.$color-grey-dark;
}

.text-field__input-container {
  display: grid;
  grid-template-columns: 1fr 58px;

  &::after {
    content: "";
    grid-column: 2;
    grid-row: 1;

    background-color: var.$color-grey-rare-1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 18px;
    pointer-events: none;
  }

  &--telephone::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.6 7.8c1.4 2.8 3.8 5.1 6.6 6.6l2.2-2.2c.3-.3.7-.4 1-.2 1.1.4 2.3.6 3.6.6.6 0 1 .4 1 1V17c0 .6-.4 1-1 1C7.6 18 0 10.4 0 1c0-.6.4-1 1-1h3.5c.6 0 1 .4 1 1 0 1.2.2 2.4.6 3.6.1.3 0 .7-.2 1L3.6 7.8Z' fill='%23010101'/%3E%3C/svg%3E%0A");
  }

  &--email::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 11c-.3 0-.5-.1-1-.3L1 7v7c0 .5.5 1 1 1h14c.5 0 1-.5 1-1V7l-7 3.7c-.5.2-.7.3-1 .3Zm7-8H2c-.5 0-1 .5-1 1v.8L9 9l8-4.2V4c0-.5-.5-1-1-1Z' fill='%23000'/%3E%3C/svg%3E");
  }
}

.text-field__input-container .text-field__input {
  grid-column: 1 / -1;
  grid-row: 1;

  padding-right: 65px;
}
